body{
  background-color : grey;
}
.outer_radius {
  margin : auto;
  width : 500px;
  height : 500px;
  border-radius :  500px;
  background-color : black;
}
.inner_radius {
  position : relative;
  top : 25px;
  left : 25px;
  border-radius : 450px;
  width : 450px;
  height : 450px;
  background-color : white;
}
#hour{
  position : absolute;
  top : 0px;
  left : 215px;
  border-top: 100px solid transparent;
  border-left: 10px solid transparent;
  border-right :10px solid transparent;
  border-bottom: 140px solid red;
  transform-origin : 10px 225px;
  transform : rotate(180deg);
}
#minute{
  position: absolute;
  top : 0px;
  left : 220px;
  border-top: 0px solid ;
  border-left: 5px solid transparent;
  border-right : 5px solid transparent;
  border-bottom: 240px solid green;
  transform-origin : 5px 225px;
  transform : rotate(00deg);
}
#second{
  position: absolute;
  top : 0px;
  left : 224px;
  background-color : black;
  height : 240px;
  width : 2px;
  transform-origin : 1px 225px;
  transform : rotate(20deg);
}
#dot{
  position : absolute;
  top:222.5px;
  left : 222.5px;
  background-color : yellow;
  height : 5px;
  width : 5px;
  transform-origin : 1px 225px;
  transform : rotate(0deg);
}